<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} Ficticia Inc.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'blog/img/favicon.png' %}" rel="shortcut icon">
  <link href="{% static 'blog/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

      <!-- Specific Page CSS goes HERE  -->
      {% block stylesheets %}{% endblock stylesheets %}

</head>

<body id="page-top">

    <!-- Navbar -->
    {% include 'blog/navbar.html' %}


    <!-- Content -->
    {% block content %}
    {% endblock content %}


  <!--/ Intro Skew Star /-->
  <div id="inicio" class="intro route bg-image" style="background-image: url({% static 'blog/img/intro-bg.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Ficticia Inc.</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Desarrollo web, Diseño web, Soluciones informáticas, Software a medida</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section class="about-mf sect-pt4 route">
    <!--div class="section-counter paralax-mf bg-image" style="background-image: url(img/counters-bg.jpg)">
      <div class="overlay-mf"></div-->
        <div class="container">
          <div class="row">
            <div class="col-sm-12" id="nosotros">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Nosotros
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">

                <div class="row">
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          Empresa
                        </h5>
                      </div>
                      {% for pagina in paginas %}
                        {% if pagina.name == 'nosotros' %}
                          {{ pagina.content|safe }}
                        {% endif %}
                      {% endfor %}

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Equipo
                      </h5>
                    </div>

                    {% for persona in personas %}
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <!--img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt=""-->
                          <!--img src="{% static 'blog/img/testimonial-2.jpg' %}" class="img-fluid rounded b-shadow-a" alt=""-->
                          <img src="{{ persona.image.url }}" class="img-fluid rounded b-shadow-a" height="100" alt="{{ persona.name }}">
                          
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p><span class="title-s">Nombre: </span> <span>{{ persona.name }}</span></p>
                          {{ persona.minibio|safe }}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      <!--/div>
    </div-->
  </section>
  <br /><hr /><br />

  <!--/ Section Services Star /-->
  <section id="servicios" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <br />
            <h3 class="title-a">
              Servicios
            </h3>
            <p class="subtitle-a">
              {% for pagina in paginas %}
                {% if pagina.name == 'servicios' %}
                  {{ pagina.content|safe }}
                {% endif %}
              {% endfor %}
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">

        {% for servicio in servicios %}
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <img src="{{ servicio.image.url }}" class="img-fluid img-thumbnail rounded b-shadow-a" height="100" alt="{{ servicio.name }}">
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ servicio.name }}</h2>
              <p class="s-description text-center">
                {{ servicio.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!--/ Section Services End /-->
  <br /><hr /><br />

  <!--/ Section Portfolio Star /-->
  <section id="proyectos" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Proyectos
            </h3>
            <p class="subtitle-a">
              {% for pagina in paginas %}
                {% if pagina.name == 'proyectos' %}
                  {{ pagina.content|safe }}
                {% endif %}
              {% endfor %}
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">

        {% for proyecto in proyectos %}
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ proyecto.image.url }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ proyecto.image.url }}" class="img-fluid img-thumbnail rounded" height="100" alt="{{ proyecto.name }}">
                <!--img src="img/work-1.jpg" alt="" class="img-fluid"-->
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{ proyecto.name }}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{ proyecto.fk_categoria }}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <!--span class="ion-ios-plus-outline"></span-->
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}

        <div class="col-md-12">
          <div class="text-center">
            <!--h6 class="category">Web Design</h6-->
            <!--a href="#" class="btn btn-primary"> Ver todos los proyectos » </a-->
          </div>
        </div>

      </div>
    </div>
    <!--div class="d-grid gap-2 col-6 mx-auto">
      <a href="#" class="btn btn-primary"> Ver todo » </a>
    </div-->
  </section>
  <!--/ Section Portfolio End /-->
  <br /><hr /><br />

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
              {% for pagina in paginas %}
                {% if pagina.name == 'blog' %}
                  {{ pagina.content|safe }}
                {% endif %}
              {% endfor %}
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for articulo in articulos %}
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="#">
                <img src="img/post-1.jpg" alt="" class="img-fluid">
                <img src="{{ articulo.image.url }}" class="img-fluid img-thumbnail rounded" height="100" alt="{{ articulo.name }}">
              </a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">{{ articulo.fk_categoria }}</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">{{ articulo.titulo }}</a></h3>
              <div class="card-description">
                {{ articulo.abstract|safe }}
              </div>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">{{ articulo.fk_autor }}</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-calendar-outline"></span> {{ articulo.date }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col-md-12">
          <div class="text-center">
            <!--h6 class="category">Web Design</h6-->
            <a href="#" class="btn btn-primary"> Ver todos los artículos » </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

    <!-- Footer -->
    {% include 'blog/footer.html' %}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'blog/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'blog/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'blog/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'blog/lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'blog/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
